<br>
<%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
<h2><%= @bookmark.description %></h2>
<h3><%= link_to  @bookmark.url, @bookmark.url %></h3>
<br>
<% if current_user == @bookmark.user%>
  <%= link_to "Edit", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-primary' %>
  <%= link_to "Delete", [@bookmark.topic, @bookmark], method: :delete, class: 'btn btn-danger' %>
<% end %>
